map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}
server{
	listen 80;
	listen [::]:80;
  server_name hw05.webdevnumber1.com;

  location / {
    proxy_pass http://localhost:5100;
    # WebSocket proxying - from http://nginx.org/en/docs/http/websocket.html
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
  }
}
