/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

.card {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
